@import "../../style/config.less";

.popup h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 18px;
    line-height: 24px;

    .from(@break-desktop, {
        font-size: 24px;
        line-height: 32px;
    });
}

.popup fieldset {
    margin-bottom: 20px;
}

.popup button {
    width: 100%;
}