@import "../../../style/config.less";

.local-btn() {
    padding: 12px @padding;
    margin-top: -8px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;

    .from(@break-desktop, {
        margin-top: 0;
        font-size: 16px;
        line-height: 20px;
    });
}

.local-label() {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    
    .to(@break-tablet, {
        .m-visually-hidden();
    });

    .from(@break-tablet, {
        font-size: 18px;
        line-height: 24px;
    });
}

.btn {
    position: relative;
    padding: 10px 34px 10px 10px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    text-align: left;
    border: 2px solid @black;

    .to(@break-tablet, {
        width: 100%;
    });

    .from(@break-tablet, {
        min-width: 206px;
    });

    &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 16px;
        transform: translateY(-50%) rotate(-45deg);
        transform-origin: center;
        display: block;
        width: 10px;
        height: 10px;
        border-left: 2px solid @black;
        border-bottom: 2px solid @black;
    }

    &.open {
        &::after {
            transform: translateY(-50%) rotate(-225deg);
        }
    }
}

.popup {
    display: flex;
}

.filter {
    display: flex;
    width: 100%;
}

.form {
    display: grid;
    width: 100%;
    grid-template-areas: "clear title close"
                         "fields fields fields"
                         "submit submit submit";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto 1fr;
}

.clear {
    grid-area: clear;
    justify-self: start;
    margin-left: -@padding;
    .local-btn();
}

.title {
    grid-area: title;
    justify-self: center;
    font-size: 18px;
    line-height: 24px;

    .from(@break-desktop, {
        font-size: 24px;
        line-height: 32px;
    });
}

.close {
    grid-area: close;
    justify-self: end;
    margin-right: -@padding;
    .local-btn();
}

.fields {
    grid-area: fields;
    margin: 14px -@padding 20px;
    border-top: 2px solid @grey;
    
    .to(@break-tablet, {
        .m-scroll();
    });

    .from(@break-tablet, {
        margin-left: 0;
        margin-right: 0;
    });
}

.range-container {
    padding: 0 26px 24px;

    .from(@break-tablet, {
        padding: 16px 0 24px;
    });
}

.range-label {
    display: block;
}

.range-label > span:first-of-type {
    .local-label();
    
    .to(@break-tablet, {
        margin-left: -10px;
    });
}

.field-wrap {
    border-bottom: 2px solid @grey;
}

.field-container {
    padding: 0 @padding 10px;

    .from(@break-tablet, {
        padding: 16px 0 10px;
    });
}

.field-wrap legend {
    .local-label();
}

.submit {
    grid-area: submit;
    align-self: end;
}
