@import "../../../style/config.less";

.main-navigation {
    /*  */
}

@media (max-width: 767px) {
    .main-navigation--header {
        display: none;
    }
}

.main-navigation a {
    display: block;
    padding: 12px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    color: @black;
}

.main-navigation ul {
    display: flex;
    flex-wrap: wrap;
}

.main-navigation--page {
    ul {
        .from(@break-desktop, {
            flex-direction: column;
        });
    }

    li {
        .from(@break-tablet, {
            margin-right: 12px;
        });

        .from(@break-desktop, {
            margin-right: 0;
            margin-bottom: 8px;
        });
    }
}

