.main-navigation {
  /*  */
}
@media (max-width: 767px) {
  .main-navigation--header {
    display: none;
  }
}
.main-navigation a {
  display: block;
  padding: 12px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #151C22;
}
.main-navigation ul {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .main-navigation--page li {
    margin-right: 12px;
  }
}
