.page {
  padding: 16px 0 40px;
}
@media (min-width: 768px) {
  .page {
    padding: 20px 0 60px;
  }
}
.header-wrap {
  display: flex;
  align-items: flex-start;
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .header-wrap {
    margin-bottom: 24px;
  }
}
@media (min-width: 1024px) {
  .header-wrap {
    margin-bottom: 32px;
  }
}
.header {
  font-size: 18px;
  line-height: 24px;
  margin-right: 8px;
}
@media (min-width: 1024px) {
  .header {
    font-size: 24px;
    line-height: 32px;
    margin-right: 12px;
  }
}
.count {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
}
@media (min-width: 1024px) {
  .count {
    font-size: 16px;
    line-height: 22px;
  }
}
@media (min-width: 1024px) {
  .content {
    display: flex;
  }
}
@media (min-width: 1024px) {
  .list {
    flex-grow: 1;
  }
}
@media (min-width: 1024px) {
  .sidebar {
    flex-shrink: 0;
    width: 260px;
    margin-left: 24px;
  }
}
@media (min-width: 1366px) {
  .sidebar {
    width: 320px;
  }
}
.total {
  background-color: #ffffff;
}
@media (max-width: 1023.98px) {
  .total {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 98;
    padding: 12px 44px calc(12px + env(safe-area-inset-bottom));
    border-top: 1px solid #F1F2F4;
  }
}
@media (max-width: 767.98px) {
  .total {
    padding-right: 16px;
    padding-left: 16px;
  }
}
@media (min-width: 1024px) {
  .total {
    position: sticky;
    top: 80px;
    padding: 16px;
    border: 1px solid #727A82;
  }
}
.total__header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 12px;
}
@media (min-width: 768px) {
  .total__header-wrap {
    margin-bottom: 20px;
  }
}
.total__header {
  font-size: 16px;
  line-height: 22px;
  margin-right: 8px;
}
@media (min-width: 768px) {
  .total__header {
    font-size: 18px;
    line-height: 24px;
  }
}
@media (min-width: 1024px) {
  .total__header {
    font-size: 24px;
    line-height: 32px;
    margin-right: 12px;
  }
}
.total__price {
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
}
@media (min-width: 768px) {
  .total__price {
    font-size: 18px;
    line-height: 24px;
  }
}
.total button {
  width: 100%;
}
