.wrap {
  margin-bottom: 28px;
}
@media (min-width: 768px) {
  .wrap {
    background-color: #F1F2F4;
  }
}
.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}
.breadcrumbs li {
  display: flex;
  align-items: baseline;
  margin-right: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
}
.breadcrumbs li:not(:last-child) {
  color: #727A82;
}
.breadcrumbs li:not(:last-child)::after {
  content: "/";
  margin-left: 10px;
}
.breadcrumbs a {
  color: inherit;
  padding: 3px 0 5px;
}
.filter-wrap {
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .filter-wrap {
    display: flex;
    justify-content: flex-end;
  }
}
.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
