@import "../style/config.less";

.wrap {
    margin-bottom: 16px;

    .to(@break-tablet, {
        margin-top: 16px;
    });

    .from(@break-tablet, {
        margin-bottom: 28px;
    });

    .from(@break-tablet, {
        background-color: @grey;
    });
}

.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.breadcrumbs li {
    display: flex;
    align-items: baseline;
    margin-right: 10px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;

    &:not(:last-child) {
        color: @grey-dark;

        &::after {
            content: "/";
            margin-left: 10px;
        }
    }
}

.breadcrumbs a {
    color: inherit;
    padding: 3px 0 5px;
}

.filter-wrap {
    margin-bottom: 32px;
    
    .from(@break-tablet, {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    });
}

.filter-wrap > button {
    margin-left: auto;
}

.products ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    // grid-template-columns: repeat(auto-fit, minmax(129px, 1fr));
    gap: 28px 30px;
    margin-bottom: 50px;
    
    .from(@break-tablet, {
        grid-template-columns: repeat(3, 1fr);
    });
    
    .from(@break-desktop, {
        grid-template-columns: repeat(4, 1fr);
        gap: 64px 66px;
        margin-bottom: 75px;
    });
}

.products li {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .to(@break-tablet, {
        &:nth-child(5n) {
            grid-column: 1 / -1;
        }
    });

    .from-to(@break-tablet, @break-desktop, {
        &:nth-child(6n + 5):not(:last-of-type) {
            grid-column: auto /span 2;
            grid-row: auto /span 2;
        }
    });

    .from(@break-desktop, {
        &:nth-child(9n + 7):not(:last-of-type):not(:nth-last-of-type(2)) {
            grid-column: auto /span 2;
            grid-row: auto /span 2;
        }
    });
}

.load-more {
    margin-bottom: 50px;

    .from(@break-desktop, {
        display: flex;
        justify-content: center;
        margin-bottom: 100px;
    });
}

.not-found {
    font-size: 16px;
    line-height: 22px;
    color: @grey-dark;
    text-align: center;
}