.wrap {
  margin-bottom: 16px;
}
@media (max-width: 767.98px) {
  .wrap {
    margin-top: 16px;
  }
}
@media (min-width: 768px) {
  .wrap {
    margin-bottom: 28px;
  }
}
@media (min-width: 768px) {
  .wrap {
    background-color: #F1F2F4;
  }
}
.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}
.breadcrumbs li {
  display: flex;
  align-items: baseline;
  margin-right: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
}
.breadcrumbs li:not(:last-child) {
  color: #727A82;
}
.breadcrumbs li:not(:last-child)::after {
  content: "/";
  margin-left: 10px;
}
.breadcrumbs a {
  color: inherit;
  padding: 3px 0 5px;
}
.filter-wrap {
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .filter-wrap {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}
.filter-wrap > button {
  margin-left: auto;
}
.products ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 28px 30px;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .products ul {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1024px) {
  .products ul {
    grid-template-columns: repeat(4, 1fr);
    gap: 64px 66px;
    margin-bottom: 75px;
  }
}
.products li {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
@media (max-width: 767.98px) {
  .products li:nth-child(5n) {
    grid-column: 1 / -1;
  }
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .products li:nth-child(6n + 5):not(:last-of-type) {
    grid-column: auto / span 2;
    grid-row: auto / span 2;
  }
}
@media (min-width: 1024px) {
  .products li:nth-child(9n + 7):not(:last-of-type):not(:nth-last-of-type(2)) {
    grid-column: auto / span 2;
    grid-row: auto / span 2;
  }
}
.load-more {
  margin-bottom: 50px;
}
@media (min-width: 1024px) {
  .load-more {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
  }
}
.load-more div {
  display: flex;
  flex-direction: column;
}
.load-more p {
  margin-bottom: 30px;
  padding: 0 4px;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}
@media (min-width: 1024px) {
  .load-more p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 40px;
  }
}
.not-found {
  font-size: 16px;
  line-height: 22px;
  color: #727A82;
  text-align: center;
}
