@import "../style/config.less";

.main-page {

}

.main-page__wrap {
    background-color: @grey;
}

.main-page__content {
    .from(@break-tablet, {
        padding-bottom: 40px;
    });

    .from(@break-desktop, {
        padding-bottom: 0;
    });
}

.main-page__grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "main-nav user-nav"
                         "new new";
    
    .from(@break-tablet, {
        grid-template-areas: "main-nav user-nav"
                             "new new"
                             "quick-nav social";
        padding-top: 16px;
    });

    .from(@break-desktop, {
        grid-template-columns: 170px 1fr 120px;
        grid-template-areas: "main-nav new user-nav"
                             "quick-nav new social";
        padding-top: 0;
    });
}

.main-page__main-nav {
    grid-area: main-nav;
    margin-top: 6px;
    margin-left: -12px;

    .from(@break-desktop, {
        margin-top: 18px;
    });

    .from(@break-desktop-lg, {
        margin-top: 38px;
    });
}

.main-page__user-nav {
    grid-area: user-nav;
    margin-right: -12px;

    .from(@break-desktop, {
        justify-self: end;
        margin-top: 14px;
    });

    .from(@break-desktop-lg, {
        margin-top: 34px;
    });
}

.main-page__new {
    grid-area: new;
    margin-top: 18px;

    .from(@break-tablet, {
        margin-top: -14px;
    });

    .from(@break-desktop, {
        justify-self: center;
        align-self: center;
        margin-top: 0;
    });
}

.main-page__quick-nav {
    grid-area: quick-nav;
    justify-self: start;
    width: 40px;
    height: 40px;
    position: relative;
    transform: translateX(-14px);

    .to(@break-tablet, {
        display: none;
    });

    .from(@break-desktop, {
        align-self: flex-end;
        margin-bottom: 25px;
    });

    .from(@break-desktop-lg, {
        margin-bottom: 45px;
    });

    .m-pointer-only({
        &:hover span {
            &::before {
                background-color: @orange;
            }
    
            &::after {
                border-color: @orange;
            }
        }
    });

    span {
        display: flex;
        width: 10px;
        height: 27px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        &::before {
            content: "";
            width: 2px;
            height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: @black;
        }

        &::after {
            content: "";
            width: 10px;
            height: 10px;
            position: absolute;
            bottom: 0;
            border-right: 2px solid @black;
            border-bottom: 2px solid @black;
            transform: rotate(45deg);
            transform-origin: center;
        }
    }
}

.main-page__social {
    grid-area: social;
    justify-self: end;
    align-self: flex-end;
    
    .to(@break-tablet, {
        display: none;
    });

    .from(@break-desktop, {
        margin-bottom: 22px;
    });

    .from(@break-desktop-lg, {
        margin-bottom: 42px;
    });
}

.main-page__bestsellers {
    margin-top: 32px;
    margin-bottom: 32px;

    .from(@break-desktop, {
        margin-top: 72px;
        margin-bottom: 72px;
    });
}
