.wrap {
  background-color: #F1F2F4;
}
@media (min-width: 768px) {
  .content {
    padding-bottom: 40px;
  }
}
@media (min-width: 1024px) {
  .content {
    padding-bottom: 0;
  }
}
.grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "main-nav user-nav" "new new";
}
@media (min-width: 768px) {
  .grid {
    grid-template-areas: "main-nav user-nav" "new new" "quick-nav social";
    padding-top: 16px;
  }
}
@media (min-width: 1024px) {
  .grid {
    grid-template-columns: 170px 1fr 120px;
    grid-template-areas: "main-nav new user-nav" "quick-nav new social";
    padding-top: 0;
  }
}
.main-nav {
  grid-area: main-nav;
  margin-top: 6px;
  margin-left: -12px;
}
@media (min-width: 1024px) {
  .main-nav {
    margin-top: 18px;
  }
}
@media (min-width: 1366px) {
  .main-nav {
    margin-top: 38px;
  }
}
.user-nav {
  grid-area: user-nav;
  margin-right: -12px;
}
@media (min-width: 1024px) {
  .user-nav {
    justify-self: end;
    margin-top: 14px;
  }
}
@media (min-width: 1366px) {
  .user-nav {
    margin-top: 34px;
  }
}
.new {
  grid-area: new;
  margin-top: 18px;
}
@media (min-width: 768px) {
  .new {
    margin-top: -14px;
  }
}
@media (min-width: 1024px) {
  .new {
    justify-self: center;
    align-self: center;
    margin-top: 0;
  }
}
.quick-nav {
  grid-area: quick-nav;
  justify-self: start;
  width: 40px;
  height: 40px;
  position: relative;
  transform: translateX(-14px);
}
@media (max-width: 767.98px) {
  .quick-nav {
    display: none;
  }
}
@media (min-width: 1024px) {
  .quick-nav {
    align-self: flex-end;
    margin-bottom: 25px;
  }
}
@media (min-width: 1366px) {
  .quick-nav {
    margin-bottom: 45px;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .quick-nav:hover span::before {
    background-color: #FFB400;
  }
  .quick-nav:hover span::after {
    border-color: #FFB400;
  }
}
@media (hover: hover) and (pointer: fine) {
  .quick-nav:hover span::before {
    background-color: #FFB400;
  }
  .quick-nav:hover span::after {
    border-color: #FFB400;
  }
}
.quick-nav span {
  display: flex;
  width: 10px;
  height: 27px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.quick-nav span::before {
  content: "";
  width: 2px;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #151C22;
}
.quick-nav span::after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: 0;
  border-right: 2px solid #151C22;
  border-bottom: 2px solid #151C22;
  transform: rotate(45deg);
  transform-origin: center;
}
.social {
  grid-area: social;
  justify-self: end;
  align-self: flex-end;
}
@media (max-width: 767.98px) {
  .social {
    display: none;
  }
}
@media (min-width: 1024px) {
  .social {
    margin-bottom: 22px;
  }
}
@media (min-width: 1366px) {
  .social {
    margin-bottom: 42px;
  }
}
.bestsellers {
  margin-top: 40px;
  margin-bottom: 40px;
}
@media (min-width: 1024px) {
  .bestsellers {
    margin-top: 72px;
    margin-bottom: 72px;
  }
}
.collection {
  margin-top: 40px;
  margin-bottom: 40px;
}
@media (max-width: 767.98px) {
  .collection {
    padding: 0;
  }
}
@media (min-width: 1024px) {
  .collection {
    margin-top: 72px;
    margin-bottom: 72px;
  }
}
.categories {
  margin-top: 40px;
  margin-bottom: 40px;
}
@media (min-width: 1024px) {
  .categories {
    margin-top: 72px;
    margin-bottom: 72px;
  }
}
