.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 28px 30px;
  margin-bottom: 60px;
}
@media (min-width: 768px) {
  .list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1024px) {
  .list {
    grid-template-columns: repeat(4, 1fr);
    gap: 64px 66px;
  }
}
.item {
  position: relative;
  flex-shrink: 0;
}
.item a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.item figure {
  display: flex;
  flex-direction: column;
}
.item figcaption {
  margin-top: 12px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}
@media (min-width: 768px) {
  .item figcaption {
    font-size: 18px;
    line-height: 24px;
  }
}
.item picture {
  display: flex;
}
.item img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 3 / 4;
}
.item p {
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
}
@media (min-width: 768px) {
  .item p {
    margin-top: 4px;
    font-size: 16px;
    line-height: 22px;
  }
}
