.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 28px 30px;
  margin-bottom: 60px;
}
@media (min-width: 768px) {
  .list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1024px) {
  .list {
    grid-template-columns: repeat(4, 1fr);
    gap: 64px 66px;
  }
}
.item {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
@media (max-width: 767.98px) {
  .item:nth-child(5n) {
    grid-column: 1 / -1;
  }
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .item:nth-child(6n + 5):not(:last-of-type) {
    grid-column: auto / span 2;
    grid-row: auto / span 2;
  }
}
@media (min-width: 1024px) {
  .item:nth-child(9n + 7):not(:last-of-type):not(:nth-last-of-type(2)) {
    grid-column: auto / span 2;
    grid-row: auto / span 2;
  }
}
.item a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.item picture {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 3 / 4;
}
.item h3 {
  margin-top: 12px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}
@media (min-width: 768px) {
  .item h3 {
    font-size: 18px;
    line-height: 24px;
  }
}
.item p {
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
}
@media (min-width: 768px) {
  .item p {
    margin-top: 4px;
    font-size: 16px;
    line-height: 22px;
  }
}
