.header {
  display: grid;
  grid-template-columns: 1fr 115px 1fr;
  grid-template-areas: "main-nav logo user-nav";
  min-height: 62px;
}
.header a {
  display: flex;
  padding: 20px;
}
.header__nav-wrap {
  grid-area: main-nav;
  display: flex;
  margin-left: -12px;
}
@media (max-width: 767.98px) {
  .header__main-nav {
    display: none;
  }
}
.header__logo {
  grid-area: logo;
}
.header__user-nav {
  grid-area: user-nav;
  margin-right: -12px;
}
