@break-tablet: 768px;
@break-desktop: 1024px;
@break-desktop-lg: 1366px;

@max-width: 1366px;

@black: #151C22;
@white: #ffffff;
@grey: #F1F2F4;
@grey-dark: #727A82;
@orange: #FFB400;

@product-black: #2D2E2E;
@product-grey: #BFC3C8;
@product-grey-light: #ECECEC;
@product-turquoise: #B0C3C7;
@product-blue: #3B6392;
@product-blue-light: #4193DA;

@padding: 16px;
@padding-tablet: 44px;
@padding-desktop-lg: 98px;

@zi-popup: 100;
@zi-overlay: @zi-popup - 1;