.user-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.user-navigation button,
.user-navigation a {
  position: relative;
  display: flex;
  align-items: center;
  padding: 22px 12px;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .user-navigation button:not(:disabled):hover path,
  .user-navigation a:not(:disabled):hover path {
    stroke: #FFB400;
  }
}
@media (hover: hover) and (pointer: fine) {
  .user-navigation button:not(:disabled):hover path,
  .user-navigation a:not(:disabled):hover path {
    stroke: #FFB400;
  }
}
.user-navigation button:disabled,
.user-navigation a:disabled {
  cursor: default;
}
.user-navigation button span,
.user-navigation a span {
  position: absolute;
  right: 4px;
  top: 8px;
  z-index: 1;
  min-width: 20px;
  max-width: 30px;
  padding: 0 4px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #151C22;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  background-color: #FFB400;
  border-radius: 20px;
}
.user-navigation button svg,
.user-navigation a svg {
  width: 20px;
  height: auto;
}
@media (min-width: 1024px) {
  .btn-fav svg {
    transform: translateX(2px);
  }
}
