@import "../../../style/config.less";

.user-navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.user-navigation button {
    display: flex;
    align-items: center;
    padding: 22px 12px;

    .m-pointer-only({
        &:hover path {
            stroke: @orange;
            // fill: @orange;
        }
    });
}

.user-navigation--main-page {
    .from(@break-desktop, {
        flex-direction: column-reverse;
        align-items: flex-end;
    });

    button {
        .from(@break-desktop, {
            padding: 16px 12px;
        });
    }
}