.user-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.user-navigation button {
  display: flex;
  align-items: center;
  padding: 22px 12px;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .user-navigation button:hover path {
    stroke: #FFB400;
  }
}
@media (hover: hover) and (pointer: fine) {
  .user-navigation button:hover path {
    stroke: #FFB400;
  }
}
