@import "../../../style/config.less";

.popup {
    display: flex;
}

.content {
    width: 100%;
    display: grid;
    grid-template-areas: "empty title close"
                         "nav nav nav";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content 1fr;
}

.title {
    grid-area: title;
    justify-self: center;
    font-size: 18px;
    line-height: 24px;

    .from(@break-desktop, {
        font-size: 24px;
        line-height: 32px;
    });
}

.close {
    grid-area: close;
    justify-self: end;
    margin-right: -@padding;
    margin-top: -8px;
    padding: 12px @padding;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;

    .from(@break-desktop, {
        margin-top: 0;
        font-size: 16px;
        line-height: 20px;
    });
}

.nav {
    grid-area: nav;
    margin: 0 -@padding;
    overflow-y: auto;
}

.nav li {
    position: relative;
    border-top: 1px solid @grey;
    
    &:last-of-type {
        border-bottom: 1px solid @grey;
    }

    &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 16px;
        transform: translateY(-50%) rotate(-135deg);
        transform-origin: center;
        display: block;
        width: 10px;
        height: 10px;
        border-left: 2px solid @black;
        border-bottom: 2px solid @black;
    }
}

.nav a {
    display: block;
    padding: 12px @padding;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    color: @black;
}