@import "../../../style/config.less";

.footer {
    color: white;
    background-color: black;
    padding: 50px @padding 40px;
    // width: @width;
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.navigation li {
    width: 50%;
    flex-shrink: 0;
}

.navigation a {
    display: block;
    padding: 16px 16px 16px 0;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    color: white;
}

.navigation path {
    fill: white;
}

.social {
    display: flex;
}

.social a {
    display: flex;
    justify-content: center;
    min-width: 53px;
    padding: 16px;
}