@import "./style/config.less";

.app {
    min-height: 101vh;// 101 to force scroll on page
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.sticky {
    position: sticky;
    top: 0;
    z-index: @zi-header;
    background-color: @white;
    border-bottom: 1px solid @grey;
    box-shadow: 0 1px 6px @grey;
}