@import "../../style/config.less";

.gradient(@angle) {
    background-image: repeating-linear-gradient(
        @angle,
        transparent,
        transparent 2px,
        @black 2px,
        @black 2px,
        transparent 3px,
        transparent 4px
        );
}

.gradient-tablet(@angle) {
    background-image: repeating-linear-gradient(
        @angle,
        transparent,
        transparent 4px,
        @black 4px,
        @black 4px,
        transparent 5px,
        transparent 6px
        );
}

.new {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;

    .from(@break-tablet, {
        flex-direction: row-reverse;
        justify-content: flex-start;
        align-items: flex-end;
        padding-bottom: 20px;
    });
}

.new__img-wrap {
    position: relative;
    display: flex;
    padding: 20px;
    margin-bottom: 30px;

    .from(@break-tablet, {
        padding: 30px;
        margin-bottom: 0;
    });

    &::before,
    &::after {
        content: "";
        width: 109px;
        height: 80px;
        position: absolute;
        z-index: 1;

        .from(@break-tablet, {
            width: 141px;
            height: 104px;
        });
    }

    &::before {
        top: 0;
        left: 0;
        .gradient(45deg);
        
        .from(@break-tablet, {
            .gradient-tablet(45deg);
        });
    }
    
    &::after {
        right: 0;
        bottom: 0;
        .gradient(135deg);
        
        .from(@break-tablet, {
            .gradient-tablet(135deg);
        });
    }
}

.new__img-wrap img {
    width: 202px;
    position: relative;
    z-index: 2;

    .from(@break-tablet, {
        width: 264px;
    });
}

.new__text-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;

    .from(@break-tablet, {
        margin-right: 36px;
        margin-bottom: 30px;
        align-items: stretch;
    });
}

.new__text {
    font-size: 18px;
    line-height: 24px;
    color: @grey-dark;
    margin-bottom: 16px;
}

.new__logo-wrap {
    display: flex;
    margin-bottom: 40px;

    .from(@break-tablet, {
        margin-bottom: 60px;
    });
}

.new__logo-wrap svg {
    .from(@break-tablet, {
        width: 220px;
        height: 82px;
    });
}