.burger {
    display: flex;
    align-items: center;
    padding: 26px 12px;
}

.burger::before {
    content: "";
    width: 20px;
    height: 2px;
    background-color: black;
    box-shadow: 0 -5px black, 0 5px black;
}